:root {
    --topNav-height: 3em;
    --sideNav-width: 19em;
}

:root[data-theme="lightTheme"] {
    --orange-white: #ee5722;

    --dark-white: white;

    --light-white: white;
    --light-black: black;
    
    --background-color: #37ff4040;
    --text-color: black;
    --text-color-hover: black;
    --title-color: #334f3b;

    --background2-color: #fffe3740;
    --text2-color: #444;
    --title2-color: #78bb7e;

    --headerBar-bg-color: #000;
    --headerBar-link-color: #64ff75;
    --linksColorShadow: #64ff7570;

    --letter-bg-color: #fcfcf8;
}

:root[data-theme="darkTheme"] {
    --orange-white: white;

    --dark-white: #c3c3c3;

    --light-white: black;
    --light-black: white;

    --background-color: #1d2226;
    --text-color: #78b7bb;
    --text-color-hover: white;

    --title-color: #7ce3b3;

    --background2-color: #000;
    --text2-color: #70b5f9;
    --title2-color: #78bb7e;

    --headerBar-bg-color: #000000;
    --headerBar-link-color: #fcff64;
    --linksColorShadow: #fcff6470;


    --letter-bg-color: #adadad;
}
