:root {
    --topNav-height: 60px;
}
:root[data-theme="lightTheme"] {
    --background-color: #37ff4040;
    --text-color: #4c4c6d;
    --text-color-hover: black;
    --title-color: #334f3b;

    --background2-color: #fffe3740;
    --text2-color: #444;
    --title2-color: #78bb7e;

    --headerBar-bg-color: #5d80fffa;
    --headerBar-link-color: #64ff75;

    --letter-bg-color: #fcfcf8;
}

:root[data-theme="darkTheme"] {
    --background-color: #1d2226;
    --text-color: #78b7bb;
    --text-color-hover: white;

    --title-color: #7ce3b3;

    --background2-color: #000;
    --text2-color: #70b5f9;
    --title2-color: #78bb7e;

    --headerBar-bg-color: #3951a5fa;
    --headerBar-link-color: #64ff75;

    --letter-bg-color: #adadad;
}
