@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.NavigationDotted {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5em;
    width: 100%;
    position: relative;

    &:hover{
        .dot{
            width: 100%;
        }
    }
    .dot {
        position: absolute;
        bottom: -1em;
        width: 60%;
        height: 1px;
        background: var(--green-gold);
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
    }

    a {
        color: var(--text-color);
        font-size: 1.5em;
        
        &:hover,
        &.active {
            color: #3a48fd;

            --headerBar-link-color: hsl(186 100% 69%);
            -webkit-text-shadow: 0 0 0.125em white, 0 0 0.45em var(--headerBar-link-color);
            -moz-text-shadow: 0 0 0.125em white, 0 0 0.45em var(--headerBar-link-color);
            text-shadow: 0 0 0.125em white, 0 0 0.45em var(--headerBar-link-color);
            animation: text-flicker 6s linear;
        }
        
        &:nth-child(1).active {
        }
    
        &:nth-child(2).active {
        }
    
        &:nth-child(3).active {
        }
    
        &:nth-child(4).active {
        }

        &:nth-child(1):hover{
        }
    
        &:nth-child(2):hover{
        }
    
        &:nth-child(3):hover{
        }
    
        &:nth-child(4):hover{
        }
    }

    
    @keyframes text-flicker {
        0% {
            opacity: 0.1;
        }

        2% {
            opacity: 1;
        }

        8% {
            opacity: 0.1;
        }

        9% {
            opacity: 1;
        }

        12% {
            opacity: 0.1;
        }
        20% {
            opacity: 1;
        }
        25% {
            opacity: 0.3;
        }
        30% {
            opacity: 1;
        }

        70% {
            opacity: 0.7;
        }
        72% {
            opacity: 0.2;
        }

        77% {
            opacity: 0.9;
        }
        100% {
            opacity: 0.9;
        }
    }
}
