.CVpdf{
    --pdf-height: 630px;
    --pdf-width: 440px;
    
    --footer-height: 80px;
    
    --aside-width: 100px;

    font-size: 10px;

    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--pdf-width);
    height: var(--pdf-height);

    color: black;
    background-color: white;

    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: 1.1em;
    }
    p{
        line-height: 1.2;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }

    .right_content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    aside{
        border: 1px solid tomato;

        display: flex;
        flex-direction: column;
        width: var(--aside-width);
        height: calc(var(--pdf-height) - var(--footer-height));
        padding: 1em 0.5em;
    }
    
    div.content{
        display: flex;
        width: var(--pdf-width);
        height: calc(var(--pdf-height) - var(--footer-height));
        
        div{

            header{
                border: 1px solid tomato;

                position: relative;
                display: flex;
                width: calc(var(--pdf-width) - var(--aside-width));
                padding: 0.5em;
            }

            main{
                border: 1px solid tomato;

                display: flex;
                flex-direction: column;
                width: calc(var(--pdf-width) - var(--aside-width));
                padding: 0.5em;
            }
        }
    }
    footer{
        border: 1px solid tomato;

        display: flex;
        width: var(--pdf-width);
        height: var(--footer-height);
    }
}