main.LandingPage {
    #AboutMe{
        padding: 3em 1em;

        .flexGrid{
            width: 100%;
        }
    }

    #interests{
        figure{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2em;

            img{
                width: 100%;
                max-width: 30em;
            }
        }
    }
    .myIntro {
        padding: 1em 0.8em;
        padding-bottom: 2em;
        max-width: 40em;
    }

    p {
        font-family: "Fira Code", monospace;
        font-weight: 800;
        text-align: left;

        @media screen and (min-width: 420px) {
            & {
                font-size: 1.2em;
            }
        }
    }

    > section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 2em;
        padding: 1em;

        &:nth-of-type(odd) {
            background-color: var(--background-color);
            p {
                color: var(--text-color);
            }
            h1 {
                color: var(--title-color);
            }
        }
        &:nth-of-type(even) {
            background-color: var(--background2-color);
            p {
                color: var(--text2-color);
            }
            h1 {
                color: var(--title2-color);
            }
        }
    }

    .flexGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
